//general
.flex-center {
  display:flex;
  justify-content: space-between;
  flex-direction:column;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 110%;
}
//Masthead Homepage
.top-bar-right {
  margin-top:1em;
}

.center {
  text-align:center;
}
.flex-center {
  display:flex;
  justify-content: center;
  align-items: center;
}
.cta {
  margin:50px auto;
  ul li {
    margin:5px;
  }
}
.dropdown {
  margin-bottom: 1em;
}
//bodies of text

.msg {
  p {
    text-align: center;
    display:inline-block;
    width:75%;
    margin:70px auto;
  }
}

.fuel {
  article{
    width:200px;
    margin-left:10%;
    padding-top:80px;
    padding-bottom:100px;
    p {
      line-height: normal;
    }
  }

}
.work-preview {
  height: 1650px;
  li {
    margin:1em;
  }
  p {
    width:90%;
  }
  .feature-work {
    .button {
      width:95%;
      margin:8px;
    }
  }
}

//form
.form-box {
 -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
 -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
 box-shadow: 1px 1px 2px 0 #d0d0d0;
 background: #fff;
 border: 1px solid #ccc;
 border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
 margin-top:1%;
 padding: 20px;
}

.form-header {
  width:40%;
  margin:20px auto;
}

.form-container {
  margin-top:10%;

}
//buttons
.back {
  display:block;
  margin-top:3%;
}

@media screen and (min-width: 700px) {
  .top-bar-right {
    margin-right: 10%;
    margin-top:2em;
  }
  .flex-center {
    flex-direction: row;
  }
  .cta {
    margin-top:100px;
  }
  .fuel article {
    width:560px;
  }
}
