//general
.flex-center {
  display:flex;
  justify-content: space-between;
  flex-direction:column;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 110%;
}

.clearfix {
  clear: both;
  content: "";
  display: table;
}
//Masthead
.top-bar-right {
  display:flex;
  align-items:center;
  width:100%;
}
.top-bar {
  width: 100%;
}

.center {
  text-align:center;
}
.flex-center {
  display:flex;
  justify-content: center;
  align-items: center;
}
.cta {
  margin:50px auto;
  ul li {
    margin:5px;
  }
}
.dropdown {
  margin-bottom: 1em;
  li {
    width: 80%;
  }
  ul {
    width:100%;
  }
}
.intro {
  width:80%;
  margin:10% auto;
  hgroup {
    margin-bottom:1em;
    h1 {
      margin-bottom: 0;
    }
  }
  p {
    line-height: 30px;
  }
}
//mobile menu

.mobile-menu {
  position:fixed;
  z-index:100;
  top: 0;
  left: 0;
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  ul {
    text-align:center;
  }

}
//displays

.case_display {
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  img {
    width:60vw;
    min-width:400px;
  }
}
.contact_modal {
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index: 100;
}
//bodies of text
.statement {
  margin-left: 10%;
  margin-top:10%;
  width:80%;
}
.case_content {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:80px 0;
  p {
    width:70%;
    font-size: 16px;
    line-height: 30px;
}
}
.msg {
  p {
    text-align: center;
    display:inline-block;
    width:75%;
    margin:70px auto;
  }
}

.fuel {
  article{
    width:250px;
    margin-left:10%;
    padding-top:100px;
    padding-bottom:120px;
    p {
      line-height: normal;
    }
  }

}
.work-preview {
  height: 3300px;
  padding: 8%;
  li {
    margin:.5em 0px;
    max-width: 500px;
  }
  p {
    width:90%;
  }
  .feature-work {
    .button {
      width:95%;
      margin:8px;
    }
  }
}
.lean {
  text-align:center;
  padding-bottom:200px;
  div {
    width:70%;
    margin:20px auto;
  }
}
.testimonial {
  div {
    height:375px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    .quote-container {
      position:relative;
      span {
        position:absolute;
        left:-50px;
      }

    }
    p {
      display:inline-block;
      width:60%;
    }
  }
}

.metrics-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:360px;
  div {
    margin: 30px;
    h4 {
      margin-bottom:15%;
    }
  }
}

footer {
  text-align:center;
  height:90px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    padding:15px;
  }
  p {
    margin: 0px;
    padding: 8px;
  }
}



//form
.form-box {
 -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
 -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
 box-shadow: 1px 1px 2px 0 #d0d0d0;
 background: #fff;
 border: 1px solid #ccc;
 border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
 margin-top:1%;
 padding: 20px;
}

.form-header {
  width:90%;
  margin:0 auto;
  margin-top:150px;
}


.form-container {
  position: fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  z-index: 150;
  div {
    text-align: center;
  }
  .button {
    width:100%;
    margin: 0 auto;
  }
  fieldset textarea {
    height:130px;
  }
}
//figures
.sid3car-logo, .sid3car-logo-mobile {
  position:absolute;
  top: 30px;
  left: 35%;
  height:50px;
  width:120px;
}

//buttons
.start {
  .button {
    margin:65px auto;
    padding: 10px auto;
    width:315px;
  }
}

.menu-icon {
  float:right;
  margin:20px;
}

.exit span {
  position:absolute;
  top:20px;
  right:20px;
}
.top-menu .subpage-contact {
  height:40px;
  width:155px;
  text-align: center;
}

.modal-close {
  position: absolute;
  right:10%;
  top: 10%;
}



@media screen and (min-width: 700px) {
  .top-bar-right {
    margin-right: 10%;
    margin-top:2em;
  }
  .flex-center {
    flex-direction: row;
  }
  .cta {
    margin-top:100px;
  }
  .case_display {
    height:100vh;
  }
  .case_content {
    p {font-size: 21px;}
  }
  .fuel article {
    width:560px;
  }
  .lean div {width:50%;}

  footer {
    flex-direction: row;
    height:80px;
  }
  .dropdown {
    li {max-width: 200px;}
  }
  .sid3car-logo{
    top: 40px;
    left: 5%;
  }

  .form-container{
    .form-header {
      width:45%;
    }
  }
}


@media screen and (min-width: 1025px) {
  .statement {
    width:45%;
  }
    .work-preview {
      height:1700px;
      h6 {
        margin-bottom: 1.3em;
      }
    }
}
