//base
h2 {
  font-size:28px;
  font-weight: 300;
  margin-bottom:1em;
}

//masthead homepage
.masthead-background {
  background-color: $background-orange;
  height:700px;
}
.top-bar, .top-bar ul {
  background-color: $background-orange;
}
.top-menu {
  color:$inverse;
  background:$background-orange;
  transition:.4s;
  li {
      background-color: $background-orange;
      font-size:20px;
      display:inline-block;
      padding: 2px;
      margin:0;
      .inverse {
        color:$inverse;
      }
      .button {
        font-size:20px;
      }
    }
}

.top-bar {
  background-color:$background-orange;
}

//dropdown menus
.dropdown {
  li {
    width: 200px;
  }
  .border-white {
    border: 2px solid $inverse;
    border-radius:1px;
    padding: 2px;
    font-weight:lighter;
  }
  .button {
    padding: 15px;
    box-shadow: 0px 2px 2px $black;
    border-radius: 1px;
  }
  .button:hover {
    background-color: $background-orange;
    box-shadow: inset 0px 0px 0px 1px $inverse;
    border-radius: 1px;
  }
  .vertical {
    border:none;
    width:200px;
  li {
    background-color:$clear;
  }
}
}
.dropdown.menu  li.is-dropdown-submenu-parent  a::after {
    border-top-color:$inverse;
}


//mobile menu
.mobile-menu {
  background-color: $inverse;
  ul {
    background-color: $inverse;
  }
  li a{
    color: $grey-dark;
    font-size:36px;
  }
}

//text bodies

.statement {
  margin-left: 10%;
  margin-top:10%;
  width: 80%;
    p {
    display:block;
    color:$inverse;
    font-size:28px;
    line-height: 60px;
  }
  span {
    color: $inverse-transparent;
  }
}

.msg {
  p {
    font-size: 18px;
    font-weight: lighter;
  }
}

.fuel {
  background-color: $background-grey;
  p {
    font-size: 16px;
  }
}

.work-preview {
  background-color: $background-blue;
  color:$inverse;
  li {
    padding:20px;
  }
  h3 {
    font-weight:200;
    line-height:99%;
    font-size: 26px;
  }
  h6 {
    color: $blue-light;
    font-weight:500;
    font-size: 10px;
  }
  p {
    font-weight:400;
    font-size: 16px;
  }
  .feature-work {
    background-color: $blue-dark;
    .button {
      color: $blue-link;
      font-size: 14px;
    }
    .button:hover {
      background-color:$inverse;
    }
  }
}
.lean {
  p {
    font-size: 14px;
  }
  .meet-link {
    font-size: 17px;
  }
}
.testimonial {
  background-color: $background-dark-grey;
  p {
    color:$inverse;
    font-size: 22px;
    font-weight:lighter;
  }
}
footer {
  background-color: $background-footer;
  li {
    color:$footer-dark-text;
    font-size:19px;
  }
  p {
    color:$footer-light-text;
    font-size:19px;
  }
}


//buttons
.button {
  background-color:$inverse;
}
.to-link {
  color: $blue-link;
}
.orange {
  color: $sid3car-orange;
}
.start {
  .button {
    background-color: $background-orange;
    color: $inverse;
    font-size: 21px;
  }
}

//displays
.hide {
  display:none;
}
//media-queries
@media screen and (min-width: 700px) {
  //base
  h2 {font-size: 36px;}
  .statement {
    width: 50%;
    p { font-size: 52px;}
  }
  .masthead-background {
    height: 600px;
  }
  .msg p {
    font-size:30px;
  }
  .fuel p {font-size:21px;}
  .lean {
    p { font-size: 20px;}
    .meet-link {font-size: 21px;}
  }
  .testimonial p {
    font-size:35px;
  }

}
@media screen and (min-width: 1025px ){
  .work-preview {
    p {font-size: 19px;}
    h3 {font-size: 29px;}
    h6 {font-size: 14px;}
    .button {font-size: 20px;}
  }
}
