//base
h2 {
  font-size:28px;
  font-weight: 300;
  margin-bottom:1em;
}
 a:hover {
   cursor: pointer;
 }

//masthead homepage
.masthead-background {
  background-color: $background-orange;
  height:700px;
}

.top-bar, .top-bar ul {
  background-color: inherit;
}
.top-menu {
  color:$inverse;
  background-color:inherit;;
  transition:.4s;
  li {
      background-color: inherit;
      font-size:20px;
      display:inline-block;
      padding: 2px;
      margin:0;
      .inverse {
        color:$inverse;
      }
      .button {
        font-size:20px;
      }
    }
}

.top-bar {
  background-color:$background-orange;
}
.HQE-background{
  background-color: $HQE-background;
  color: $HQE-background;
  transition: .2s;
}

//dropdown menus
.dropdown {
  .border-white {
    border: 2px solid $inverse;
    border-radius:1px;
    padding: 2px;
    font-weight:lighter;
  }
  .button {
    padding: 15px;
    box-shadow: 0px 2px 2px $black;
    border-radius: 1px;
  }
  .button:hover {
    background-color: $background-orange;
    box-shadow: inset 0px 0px 0px 1px $inverse;
    border-radius: 1px;
  }
  .vertical {
    border:none;
    background-color:$background-orange;
  }
}
.dropdown.menu  li.is-dropdown-submenu-parent  a::after {
    border-top-color:$inverse;
}

.intro {
  h1 {
    font-weight: 300;
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
}


//mobile menu
.mobile-menu {
  background-color: $inverse;
  ul {
    background-color: $inverse;
  }
  li a{
    color: $grey-dark;
    font-size:36px;
  }
}
//displays
.case_display {
  background-color: $background-grey;
}
.metrics-container {
  background-color: $background-dark-grey;
  h4 {
    color:$grey-medium;
    font-weight: 300;
    position:relative;
  }
  h4:after {
    content:'';
    width:40px;
    height:1px;
    background:$grey-medium;
    position:absolute;
    bottom:-10px;
    left:0;
  }
  ul li {
    color: $inverse;
    font-size:21px;
  }
}
//text bodies
.intro {
  color: $inverse;
}
.statement {
    h1 {
      color: $inverse;
      font-size: 42px;
    }
    p {
    display:block;
    color:$inverse;
    font-size:28px;
    line-height: 50px;
  }
  a {
    font-size:26px;
  }
  .transparent-statement {
    color: $inverse-transparent;
  }
}

.msg {
  p {
    font-size: 18px;
    font-weight: lighter;
  }
}

.fuel {
  background-color: $background-grey;
  p {
    font-size: 16px;
  }
}

.work-preview {
  background-color: $background-blue;
  color:$inverse;
  li {
    padding:20px;
  }
  h3 {
    font-weight:200;
    line-height:99%;
    font-size: 26px;
  }
  h6 {
    color: $blue-light;
    font-weight:500;
    font-size: 10px;
  }
  p {
    font-weight:400;
    font-size: 16px;
  }
  .feature-work {
    background-color: $blue-dark;
    .button {
      color: $blue-link;
      font-size: 14px;
    }
    .button:hover {
      background-color:$inverse;
    }
  }
}
.lean {
  p {
    font-size: 14px;
  }
  .meet-link {
    font-size: 17px;
  }
}
.testimonial {
  background-color: $background-dark-grey;
  span {
    font-size:120px;
    font-family:cursive;
    color:$grey-medium;
  }
  p {
    color:$inverse;
    font-size: 22px;
    font-weight:lighter;
  }
}
footer {
  background-color: $background-footer;
  a {
    color:$footer-dark-text;
    font-size:19px;
  }
  a:hover {
    color:$footer-dark-text;
  }
  p {
    color:$footer-light-text;
    font-size:19px;
  }
}
//forms
.form-container {
  background-color: $background-grey-transparent;
  a {
    color: $inverse;
  }
  .form-header {
    h3 {
    font-weight: 300;
  }
  }
  h3 {
    color: $inverse;
    font-size: 22px;
    span {
      color: $orange-text;
    }
  }
  .button {
    background-color: $background-orange;
    color: $inverse;
  }
}

//figures

.sid3car-logo {
  background-image: url("Sid3car-white.png");
  background-repeat: no-repeat;
  background-size: 120px 40px;
}
.sid3car-logo-mobile {
  background-image: url("sid3car-logo.png");
  background-repeat: no-repeat;
  background-size: 120px 40px;
}

.image-container {
  .profile-pic {
    .hover-preview {
      background-color: $background-blue-transparent;
      color: $inverse;
      ul {
        text-indent: 3px;
        li {
          line-height:20px;
          h6 {
            text-align: center;
            font-size: 24px;
            font-weight:300;
          }
        }
      }
    }
    .bio-container {
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
    }
  }
}

//buttons
.button {
  background-color:$inverse;
}
.to-link {
  color: $blue-link;
}
.orange {
  color: $orange-text;
}
.start {
  .button {
    background-color: $background-orange;
    color: $inverse;
    font-size: 21px;
  }
}
.menu-icon {
  color: $inverse;
  font-size:21px;
}
.menu-icon:hover {
  cursor: pointer;
}
.exit span {
  color:$grey-dark;
  display:inline-block;
  font-size:32px;
}
.exit:hover {
  cursor: pointer;
}

.top-menu .subpage-contact {
  background-color: $inverse;
}
.top-menu .subpage-contact:hover {
  color: $orange-text;
}
.white-link {
  color: $inverse;
}
.white-link:hover {
  color: $inverse;
}

//displays
.hide {
  display:none;
}
.contact_modal {
  background-color:$inverse-transparent;
}
//media-queries
@media screen and (min-width: 700px) {
  //base
  h2 {font-size: 36px;}
  .statement {
    p { font-size: 52px;}
  }
  .masthead-background {
    height: 600px;
  }
  .intro {
    p {font-size: 25px;}
  }
  .msg p {
    font-size:30px;
  }
  .fuel p {font-size:21px;}
  .lean {
    p { font-size: 20px;}
    .meet-link {font-size: 21px;}
  }
  .testimonial p {
    font-size:35px;
  }
  .metrics-container {
    ul li {font-size: 36px;}
  }
  .form-container {
    h3 {font-size: 29px;}
  }

}
@media screen and (min-width: 1025px ){
  .work-preview {
    p {font-size: 19px;}
    h3 {font-size: 29px;}
    h6 {font-size: 14px;}
    .button {font-size: 20px;}
  }
  .intro {
    p {font-size: 25px;}
    h1 {font-size: 48px;}
  }
}
