//Colors
$orange-text: #FF7F2E;
$orange-mask: #FD8F61;
$text: #3E474F;
$grey-light: #F7F7F7;
$grey: #EDEFF0;
$grey-medium: #60676D;
$grey-dark: #3E474F;
$grey-dark-transparent:rgba(62,71,79,.95);
$inverse: rgb(255,255,255);
$inverse-transparent: rgba(255,255,255,0.6);
$clear: rgba(0,0,0,0);
$black: rgba(0,0,0,0.1);
$blue: #2685EA;
$blue-link: #2E87E7;
$blue-dark: #1E7ADB;
$blue-light: #CBE9FF;
$HQE-background: #4083A0;


$background-grey: $grey-light;
$background-orange: $orange-mask;
$background-blue: $blue;
$background-dark-grey: $grey-dark;
$background-grey-transparent: $grey-dark-transparent;


// footer colors
$background-footer: $grey;
$footer-light-text: #979CA0;
$footer-dark-text: $grey-medium;


//Fonts
